.background{
    background-image: url(https://images3.alphacoders.com/212/thumb-1920-212835.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 910px;
}